.lead {
    color: var(--cor-destaque);
    font-weight: 700;
  }
  body {
    font-family: "Chakra Petch", sans-serif;
    color: var(--cor-principal);
  }
  .lead,
.btn-link {
  color: var(--cor-destaque);
  font-weight: 700;
}
a,
.btn-link:hover {
  color: var(--cor-principal);
}

a:hover {
  color: var(--cor-destaque);
}

